<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
<link rel="stylesheet" href="~/css/slider.css" />
<script src="~/js/slider.js"></script>

<div class="container-slider">
    <div class="swiper slider">
        <div class="swiper-wrapper">
            @* <div class="swiper-slide slide1">
                <div class="content">
                    <h5>Подпишись на новые книги</h5>
                    <p>Как только появится что-то новое – ты узнаешь об этом первым</p>
                </div>
                <div class="button-container">
                    <button>Подписаться</button>
                </div>
            </div> *@
            <div class="swiper-slide slide2">
                <div class="content">
                    <h5>
                        Дарите книги - получайте
                        БИА-коины
                    </h5>
                    <p>За каждую подаренную книгу – 50 ₿</p>
                </div>
                <div class="button-container">
                    <a href="https://twiki.bia-tech.ru/plugins/game/request.action" target="_blank">Подробнее</a>
                </div>
            </div>
            <div class="swiper-slide slide3">
                <div class="content">
                    <h5>Альпина</h5>
                    <p>Подписка на крупнейшую в России электронную библиотеку Alpina Digital</p>
                </div>
                <div class="button-container">
                    <a href="https://twiki.bia-tech.ru/plugins/partnership/partnership.action?id=10" target="_blank">Перейти</a>
                </div>
            </div>
            @* <div class="swiper-slide slide4">
                <div class="content">
                    <h5>Требуется книга</h5>
                    <p>
                        Не нашли что искали? Оставьте заявку
                        и возможно нужная книга скоро появится.
                    </p>
                </div>
                <div class="button-container">
                    <button>Перейти</button>
                </div>
            </div> *@
        </div>
    </div>
</div>
<div class="swiper-pagination"></div>