<div class="main-footer">
    <div class="container">
        <div class="footer-content">
            <div class="footer-title">Мы в социальных сетях:</div>
            <div class="footer-social">
                <a href="https://vc.ru/u/1014867-bia-technologies" target="_blank"><img class="icon-vc" src="~/icons/social_vc_ru.svg" alt=""></a>
                <a href="https://www.youtube.com/channel/UCjFouI0xl_tmKdVgdQq4cNg" target="_blank"><img class="icon-youtube" src="~/icons/social_youtube.svg" alt=""></a>
                <a href="https://t.me/bia_helper_bot" target="_blank"><img class="icon-telegram" src="~/icons/social_telegram.svg" alt=""></a>
                <a href="https://vk.com/biatech" target="_blank"><img class="icon-vk" src="~/icons/social_vk.svg" alt=""></a>
            </div>
        </div>
    </div>
</div>
