@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Извините!</h1>
<h2 class="text-danger">
    Eсли вы это видите, сделайте скриншот экрана, напишите заявку в техподдержку с указанием ссылки на страницу, где вы это видите и скриншотом.
</h2>

